/* form.component.css */
form {
    display: flex;
    flex-direction: column;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input, select, textarea {
    width: 200px;
  }
  
  button {
    width: 100px;
  }
  